@charset "UTF-8";
div,
p,
ol,
ul,
li,
dl,
dd,
dt,
form,
img,
input,
table,
th,
tr,
td,
fieldset,
legend,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "微软雅黑", Arial;
  background: #f1f1f2;
  display: flex;
  flex-direction: column;
}

.head {
  width: 100%;
  color: #333;
  font-size: 12px;
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
  margin-bottom: 10px;
}
.head .w-head {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head .w-head .head-list-left {
  display: flex;
}
.head .w-head .head-list-left .iteml {
  font-size: 12px;
  line-height: 20px;
  padding: 10px 15px;
  padding-bottom: 15px;
  position: relative;
}
.head .w-head .head-list-left .iteml:hover {
  background: #f1f1f2;
}
.head .w-head .head-list-left .iteml:hover .list {
  display: block;
}
.head .w-head .head-list-left .iteml a {
  color: #666;
}
.head .w-head .head-list-left .iteml a:hover {
  color: black;
}
.head .w-head .head-list-left .iteml .list {
  display: none;
  position: absolute;
  z-index: 100;
  left: 0px;
  top: 45px;
  width: 160px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.head .w-head .head-list-left .iteml .list p {
  padding: 0 20px;
  line-height: 32px;
}
.head .w-head .head-list-left .iteml .list p:hover {
  background: #f1f1f2;
}
.head .w-head .head-list-left .iteml .list .line {
  height: 1px;
  margin: 5px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
/* .head .w-head .head-list-left .active {
  background: #f1f1f2;
} */
.head .w-head .head-list-right {
  display: flex;
}
.head .w-head .head-list-right .itemr {
  font-size: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
}
.head .w-head .head-list-right .itemr:hover {
  background: #f1f1f2;
}
.head .w-head .head-list-right .itemr:hover .list {
  display: block;
}
.head .w-head .head-list-right .itemr a {
  color: #333;
  padding: 10px 15px;
}
.head .w-head .head-list-right .itemr a:hover {
  color: black;
}
.head .w-head .head-list-right .itemr .list {
  display: none;
  position: absolute;
  left: -124px;
  top: 45px;
  width: 160px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.head .w-head .head-list-right .itemr .list p {
  padding: 0 20px;
  line-height: 32px;
}
.head .w-head .head-list-right .itemr .list p:hover {
  background: #f1f1f2;
}
.head .w-head .head-list-right .itemr .list .line {
  height: 1px;
  margin: 5px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.head .w-head .head-list-right .active {
  background: #f1f1f2;
}

.response-head {
  display: none;
}

@media (max-width: 800px) {
  .head {
    width: 100%;
    color: #333;
    font-size: 8px;
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
  }
  .head .w-head {
    width: 750px;
    margin: 0 auto;
    display: block;
    overflow: hidden;
  }
  .head .w-head .head-list-left .iteml {
    padding: 10px 8px;
  }
  .head .w-head .head-list-right {
    float: right;
  }
}

@media (max-width: 700px) {
  .head {
    display: none;
  }
  .response-head {
    display: block;
    width: 100%;
    color: #333;
    font-size: 8px;
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    position: relative;
  }
  .response-head .toggle-head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .response-head .toggle-head .logo {
    padding: 7px 10px 5px 0px;
    width: 33px;
    height: 36px;
  }
  .response-head .toggle-head .toggle-right {
    padding: 7px 10px 0px 0px;
    width: 44px;
    height: 34px;
  }
  .response-head .toggle-bar-list {
    width: 100%;
    display: none;
  }
  .response-head .toggle-bar-list .iteml {
    width: 100%;
    font-size: 12px;
    line-height: 20px;
    padding: 4px 0px;
    padding-bottom: 15px;
  }
  .response-head .toggle-bar-list .iteml a {
    color: #333;
  }
}

.detal-header {
  width: 100%;
  margin-bottom: 20px;
}
.detal-header .mala {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background: #f8f8f8;
  border-radius: 5px;
  border: 1px solid #e7e7e7;
}
.detal-header .mala p {
  line-height: 50px;
  font-size: 18px;
  color: #31708f;
  padding-left: 16px;
}
.detal-header .mala .liss {
  margin-right: 15px;
  margin-top: 9px;
  width: 98px;
  border-radius: 5px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border: 1px solid #ccc;
}
.detal-header .mala .liss:hover {
  cursor: pointer;
  background: #ebebeb;
}
.detal-header .mala .liss img {
  vertical-align: middle;
}
.detal-header .mala .liss span {
  vertical-align: middle;
  font-size: 12px;
  color: #333;
}

.detail-content {
  width: 100%;
}
.detail-content .content {
  width: 90%;
  margin: 0 auto;
  display: flex;
}
.detail-content .content .con-table {
  width: 65%;
  height: 100%;
  border: 1px solid #ddd;
}
.detail-content .content .con-table table {
  border: #ddd;
  border-collapse: collapse;
  border-left: none;
  border-right: none;
}
.detail-content .content .con-table .tb1 {
  width: 100%;
  background: #f5f5f5;
}
.detail-content .content .con-table .tb1 td {
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  color: #333;
  padding-left: 16px;
}
.detail-content .content .con-table .tb2 {
  width: 100.1%;
  background: #fff;
}
.detail-content .content .con-table .tb2 tr:last-child td {
  border-bottom: none;
}
.detail-content .content .con-table .tb2 td {
  line-height: 28px;
  font-size: 12px;
  color: #999;
  padding-left: 6px;
}
.detail-content .content .con-table .tb2 td .span1 {
  color: #fff;
  font-size: 10px;
  text-align: center;
  background: #f0ad4e;
  padding: 2px 6px 2px 6px;
  border-radius: 2px;
  font-weight: 600;
}
.detail-content .content .con-table .tb2 td .span2 {
  color: #fff;
  background: #5cb85c;
  padding: 2px 6px 2px 6px;
  border-radius: 2px;
  font-weight: 600;
}
.detail-content .content .con-table .tb2 td .span22,
.detail-content .content .con-table .tb2 td .span3 {
  color: #fff;
  background: #999;
  padding: 2px 6px 2px 6px;
  border-radius: 2px;
  font-weight: 600;
}
.detail-content .content .con-table .tb2 td .span4 {
  color: #fff;
  background: #f0ad4e;
  padding: 2px 6px 2px 6px;
  border-radius: 2px;
  font-weight: 600;
}
.detail-content .content .con-table .tb3 {
  width: 100.1%;
  background: #f5f5f5;
  border-top: 1px solid #ddd;
}
.detail-content .content .con-table .tb3 tr {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 12px;
  color: #999;
}
.detail-content .content .con-table .tb3 tr .lasttd2 {
  width: 38%;
  padding: 10px 0 10px 4px;
}
.detail-content .content .con-table .tb3 tr .lasttd2 li {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  border: 1px solid #ccc;
  background: #fff;
  padding: 1px 4px 1px 4px;
  margin-left: 6px;
  border-radius: 5px;
}
.detail-content .content .con-table .tb3 tr .lasttd2 li img {
  vertical-align: middle;
}
.detail-content .content .con-table .tb3 tr .lasttd2 li span {
  vertical-align: middle;
  font-size: 10px;
  color: #333;
}
.detail-content .content .con-table .tb3 tr .lasttd1 {
  width: 100%;
  padding: 10px 0 10px 4px;
}
.detail-content .content .con-table .tb3 tr .lasttd1 li:nth-child(2):hover {
  background: none;
}
.detail-content .content .con-table .tb3 tr .lasttd1 li {
  /* display: flex; */
  display: inline-block;
  border: 1px solid #ccc;
  background: #fff;
  padding: 1px 4px 1px 4px;
  margin-left: 12px;
  border-radius: 5px;
}
.detail-content .content .con-table .tb3 tr .lasttd1 li:hover {
  cursor: pointer;
  background: #ebebeb;
}
.detail-content .content .con-table .tb3 tr .lasttd1 li img {
  vertical-align: middle;
}
.detail-content .content .con-table .tb3 tr .lasttd1 li span {
  vertical-align: middle;
  font-size: 10px;
  color: #333;
}
.detail-content .content .con-table .tb3 tr .lasttd1 li .lispan1 {
  color: #3c763d;
}
.detail-content .content .con-table .tb3 tr .lasttd1 li .lispan11 {
  display: inline-block;
  color: #7da37e;
  padding-right: 4px;
  border-right: 1px solid #ddd;
  background-color: #fff;
}
.detail-content .content .con-table .tb3 tr .lasttd1 li .lispan11:hover {
  cursor: pointer;
  background-color: #ebebeb;
}
.detail-content .content .con-table .tb3 tr .lasttd1 li .lispan22 {
  display: inline-block;
  padding-left: 4px;
  color: #8a6d3b;
  background-color: #fff;
}
.detail-content .content .con-table .tb3 tr .lasttd1 li .lispan22:hover {
  cursor: pointer;
  background-color: #ebebeb;
}
.detail-content .content .con-bottom {
  display: flex;
  flex-direction: column;
  width: 32%;
  height: 100%;
  margin-left: 3%;
  background: #fff;
  border: 1px solid #ddd;
}
.detail-content .content .con-bottom img {
  width: 92%;
  padding: 15px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.detail-content .content .con-bottom .bottoms11 {
  height: 36px;
  line-height: 36px;
  font-size: 12px;
  color: #333;
  padding-left: 16px;
  background: #f5f5f5;
}

@media screen and (max-width: 1200px) {
  .detal-header {
    width: 100%;
    margin-bottom: 20px;
  }
  .detal-header .mala {
    width: 80%;
    margin: 0 auto;
  }
  .detail-content {
    width: 100%;
  }
  .detail-content .content {
    width: 80%;
    margin: 0 auto;
    display: flex;
  }
  .detail-content .content .tb3 tr {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 990px) {
  .detail-content {
    width: 100%;
  }
  .detail-content .content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  .detail-content .content .con-table {
    width: 100%;
    margin-bottom: 20px;
  }
  .detail-content .content .con-bottom {
    width: 100%;
    margin-left: 0;
  }
}
